# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# 忽略所有子資料夾裡的 Debug / Release / build 資料夾
**/Debug/
**/Release/
**/build/

# 忽略編譯產物
**/*.o
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.out
**/*.list
**/*.d
**/*.log
**/*.lst

# 忽略備份與暫存檔
**/*~
**/*.swp
**/*.bak

# 忽略 IDE metadata（如果不希望上傳 IDE 設定）
**/.settings/
**/.metadata/
**/*.launch

# 忽略系統檔案
**/.DS_Store
**/Thumbs.db
**/desktop.ini



#忽略
**/*.log
**/*.tmp
**/*.bak
pp.bat